.input {
    background: #f5f5f5;
    border-color: transparent;
    border-color: #bafacd;
}

.input:focus {
    border-color: rgb(140, 106, 187);
}

.button {
    background: rgb(140, 106, 187);
}

.button:disabled {
    background: #919191;
}